/******************************************************************
Site Name: Cascades Day Spa
Author: sarah semark	

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/


/*********************
GENERAL STYLES
*********************/

h2 {	
		&:before, &:after {
			width: 180px;
	}
	
}

#main .sixcol {
	width: 48.618784527%;
	margin-left: 0;
	margin-right: 2.76243%;
	float: left;
}
#main .sixcol.last {
	margin-right: 0;
}

/*********************
HEADER STYLES
*********************/

#header {
	
	#inner-header {
		padding: 0 50px 15px;
		
		#logo {
			left: -25px;
					
			a {
				width: 150px;
				height: 150px;
			}
		}
		
		#menu-top-links {
			font-size: .8em;
			margin: 10px 0 5px 0;
			
			li {
				margin: 0px 0 0 20px;
				
				&:first-of-type {
					margin-left: 10px;
				}
			}
		}
		
		#book {
			top: -40px;
			right: 80px;
			width: 130px;
			height: 156px;
			background-size: 130px 156px;			
			font-size: 1em;
		}
		
		#giftcard {
			height: 167px;
			width: 167px;
			background-size: 334px 167px;
			right: -40px;
			font-size: 1.2em;
			line-height: 1.2em;
			
			&:after {
				content: "Instant & Online!";
				padding: 60px 20px;
				position: absolute;
				top: 0; 
				left: 0; 
				bottom: 0; 
				right: 0;
				background: url('../images/book-appointment.png') top right;
				background-size: 334px 167px;
				opacity: 0;
				@include transition(opacity 1.5s);
				z-index: 1;
			}
			
			&:hover:after {
				opacity: 1;
			}
		
		}
		
	}
	
}


/*********************
NAVIGATION STYLES
*********************/
#sidebar-nav {
	margin: 2.2em 0 2em -50px;
	width: 31.4917%;
}


/******************************************************************
FORM STYLES
******************************************************************/

form {
	
	div {
		padding-top: 20px;
	}
	
	label {
		width: 20%;
		padding-top: 10px;
		float: left;
		display: block;
		text-align: right;
	}
	
	.wpcf7-list-item {
		
		&:nth-of-type(1) {
			margin-left: 30px;
		}
	}

	input[type=text],
	input[type=email],
	input[type=url],
	input[type=tel],
	textarea {
		margin-left: 5%;
		float: left;
		width: 75%;
	}
	
	textarea {
		clear: none;
	}
	
	&#searchform {
	
		label {
			width: 15%;
		}
		
		input[type=text] {
			width: 60%;
			margin-left: 2.5%;
		}
		
		input[type=submit] {
			width: 22%;
			float: left;
			clear: none;
			margin: 0 0 0 .5%;
		}
		
	}

}
