/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {
	background: url('../images/bg.png');
	background-size: 500px 199px;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	max-width: 1140px;
	background: $white;
}


/*********************
HEADER STYLES
*********************/

#header {
	background: none;
	border: none;
	box-shadow: none;
	
	#inner-header {
		padding: 0;
		background: none;
		border: none;
	
		#mobile-menu-button {
			display: none;
		}
		
		#logo {
			float: left;
			font-size: 1.2em;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-family: $serif;
			margin: 0 10px;
			
			a {
				color: $blue;
				text-decoration: none;
			}
		}
		
		#menu-top-links {
			display: block;
			border: 0;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: .9em;
			float: right;
			margin: 0;
			
			li {
				display: inline-block;
				margin: 0px 20px 0 0;
				
				&:last-of-type {
					margin-right: 0px;
				}
				
				a {
					background: none;
					display: inline;
					border: none;
					height: 16px;
					background: url('../images/top-links.png') 0 0 no-repeat;
					background-size: 19px 128px;
					padding: 0 5px 0 25px;
				}
				
				&:nth-of-type(2) a {
					background-position: 0px -32px;
				}
					
				&:nth-of-type(3) a {
					background-position: 0px -64px;
				}
				
				&:nth-of-type(4) a {
					background-position: 0px -96px;
				}
			}
		}
	
	}

}



/*********************
NAVIGATION STYLES
*********************/
#sidebar-nav {
	display: block;
	margin-left: -5.801104972%;

	.nav {
		border-bottom: 1px solid $green;
		-moz-box-shadow: 1px 2px 4px rgba(1,2,2,.2);
		-webkit-box-shadow: 1px 2px 4px rgba(1,2,2,.2);
		box-shadow: 1px 2px 4px rgba(1,2,2,.2);
		background: $black url('../images/diagonal.png') top center repeat;
		background-size: 300px 199px;
		padding: 3px 3px;
	
		li {
			padding: 3px;
			background: lighten($green, 50%);
			margin: 10px;
			
			&:hover, &:focus {
				background-color: $white;
			}
	
			a {
				background: $white;
				border: 1px solid lighten($green, 30%);
				text-transform: uppercase;
				letter-spacing: 1px;
				text-align: center;
				font-size: .95em;
	
				&:hover, &:focus {
					background-color: lighten($green, 30%);
					border: 1px solid $green;
					color: $white;
				}
			}
	
			&:first-child {}
			&:last-child {}
	
			/*
			plan your menus and drop-downs wisely.
			*/
			ul.sub-menu,
			ul.children {
				margin-top: 0;
				border: 1px solid #ccc;
				border-top: 0;
				position: absolute;
				display: none;
				z-index: 8999;
	
				li {
	
					a {
						padding-left: 10px;
						border-right: 0;
						display: block;
						width: 180px;
						border-bottom: 1px solid #ccc;
	
						&:hover,
						&:focus {}
	
						&:link {}
					}
	
					&:first-child {}
	
					&:last-child {
	
						a {
							border-bottom: 0;
						}
					}
	
					/*
					if you need to go deeper, go nuts
					just remember deeper menus suck
					for usability. k, bai.
					*/
					ul {}
				}
	
				/* highlight sub-menu current page */
				li.current-menu-item,
				li.current_page_item,
				li.current-page-ancestor {
					a {}
				}
			}
	
			/* showing sub-menus */
			&:hover ul {
				top: auto;
				display: block;
			}
	
		} /* end .menu ul li */
	
		/* highlight current page */
		li.current-menu-item,
		li.current_page_item,
		li.current-page-ancestor {
			a {}
		}  /* end current highlighters */
	
	} /* end .nav */
	
}

/*********************
SIDEBARS & ASIDES
*********************/

#sidebar-nav {
	margin-top: 2.2em;
}

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {
		padding: 0 10px;
		margin: 2.2em 0;

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}


	/* links widget */
	.widget_links {}
	.widget_links ul {}
	.widget_links ul li {}
	.widget_links ul li a {}

	/* meta widget */
	.widget_meta {}
	.widget_meta ul {}
	.widget_meta ul li {}
	.widget_meta ul li a {}

	/* pages widget */
	.widget_pages {}
	.widget_pages ul {}
	.widget_pages ul li {}
	.widget_pages ul li a {}

	/* recent-posts widget */
	.widget_recent_entries {}
	.widget_recent_entries ul {}
	.widget_recent_entries ul li {}
	.widget_recent_entries ul li a {}

	/* archives widget */
	.widget_archive {}
	.widget_archive ul {}
	.widget_archive ul li {}
	.widget_archive ul li a {}
	.widget_archive select {}
	.widget_archive option {}

	/* tag-cloud widget */
	.widget_links {}
	.widget_links li:after {}
	.widget_links li:before {}
	.widget_tag_cloud {}
	.widget_tag_cloud a {}
	.widget_tag_cloud a:after {}
	.widget_tag_cloud a:before {}

	/* calendar widget */
	.widget_calendar {}
	#calendar_wrap {}
	#calendar_wrap th {}
	#calendar_wrap td {}
	#wp-calendar tr td {}
	#wp-calendar caption {}
	#wp-calendar a {}
	#wp-calendar #today {}
	#wp-calendar #prev {}
	#wp-calendar #next {}
	#wp-calendar #next a {}
	#wp-calendar #prev a {}

	/* category widget */
	.widget_categories {}
	.widget_categories ul {}
	.widget_categories ul li {}
	.widget_categories ul ul.children {}
	.widget_categories a {}
	.widget_categories select{}
	.widget_categories select#cat {}
	.widget_categories select.postform {}
	.widget_categories option {}
	.widget_categories .level-0 {}
	.widget_categories .level-1 {}
	.widget_categories .level-2 {}
	.widget_categories .level-3 {}

	/* recent-comments widget */
	.recentcomments {}
	#recentcomments {}
	#recentcomments li {}
	#recentcomments li a {}
	.widget_recent_comments {}

	/* search widget */
	#searchform {}
	.widget_search {}
	.screen-reader-text {}

	/* text widget */
	.textwidget {}
	.widget_text {}
	.textwidget p {}


/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */

