/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {
	background: url('../images/bg.png');
	background-size: 500px 199px;
}

h2 {
	margin: 4em 0 2em;
	
		&:before, &:after {
			content: "";
			display: inline-block;
			height: 24px;
			position: relative;
			vertical-align: middle;
			width: 202px;
			background: url('../images/header.png');
			background-size: 239px 24px;
			opacity: .25;
	}
	
		&:before {
	    	right: 0.5em;
	    	margin-left: -50%;
	    	background-position: left center;
		}
	
		&:after {
	    	left: 0.5em;
			margin-right: -50%;
			background-position: right center;
		}
}

.sixcol h2 {
		
		&:before, &:after {
			width: 60px;
		}
		&:before {
	    	right: 0.5em;
	    	margin-left: -25%;
		}
	
		&:after {
	    	left: 0.5em;
			margin-right: -25%;
		}
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	max-width: 1140px;
}

#inner-header, #inner-content {
	background: $white;
	position: relative;
	@include box-shadow($shadow-width: 8px);
}


#inner-content::before {
	height: 10px;
	width: 100%;
	background: $white;
	content: '';
	top: -10px;
	position: relative;
}


/*********************
HEADER STYLES
*********************/

#header {
	background: none;
	border: none;
	box-shadow: none;
	padding: 0;
	
	#inner-header {
		padding: 0 50px 15px;
		border: none;
		position: relative;
		
		#logo {
			display: block;
			margin: -50px 0 -70px 40px;
			
			a {
				float: left;
				width: 130px;
				height: 157px;
				background: url('../images/logo.png');
				background-size: cover;
				@include image_replacement;
			}
		}
		
		#menu-top-links {
			display: block;
			border: 0;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: .9em;
			float: right;
			margin: 10px 0 5px 0;
			
			li {
				display: inline-block;
				margin: 0px 20px 0 0;
				
				&:last-of-type {
					margin-right: 0px;
				}
				
				a {
					background: none;
					display: inline;
					border: none;
					height: 16px;
					background: url('../images/top-links.png') 0 0 no-repeat;
					background-size: 19px 128px;
					padding: 0 5px 0 25px;
					text-decoration: none;
				}
				
				&:nth-of-type(2) a {
					background-position: 0px -32px;
				}
					
				&:nth-of-type(3) a {
					background-position: 0px -64px;
				}
				
				&:nth-of-type(4) a {
					background-position: 0px -96px;
				}
			}
		}
		
		#header-image {
			display: block;
			max-width: 100%;
			border: 10px solid lighten($blue, 45%);
			@include box-shadow;
			
		}
		
		#book {
			display: table;
			height: 167px;
			width: 167px;
			background: url('../images/book-appointment.png') top left;
			background-size: 334px 167px;
			position: absolute;
			right: -40px;
			top: 35%;
			font-size: 1.2em;
			line-height: 1.2em;
			color: $white;
			text-decoration: none;
			font-family: $serif;
			text-align: center;
			
			&:after {
				content: "Reserve Your Spot Now";
				padding: 60px 20px;
				position: absolute;
				top: 0; 
				left: 0; 
				bottom: 0; 
				right: 0;
				background: url('../images/book-appointment.png') top right;
				background-size: 334px 167px;
				opacity: 0;
				@include transition(opacity 1.5s);
				z-index: 1;
			}
			
			&:hover:after {
				opacity: 1;
			}
			
			div {
				display: table-cell; 
				vertical-align: middle; 
				padding-bottom: 10px;
				z-index: 40000;
				
				span {
					display: inline;
					padding: 0;
				}
			}
		
		}
		
		#mobile-menu-container {
			display: none;
		}
	
	}

}



/*********************
NAVIGATION STYLES
*********************/
#sidebar-nav {
	display: block;
	margin: 1em 0 2em -50px;

	.nav {
		background: lighten($green, 50%) url('../images/diagonal.png') top center repeat;
		background-size: 300px 199px;
		@include box-shadow;
		padding: 3px 3px;
	
		li {
			background: lighten($green, 50%);
			margin: 10px;
			
			&:hover, &:focus {
				background-color: $white;
			}
			
			a {
				&:hover, &:focus {
					background-color: lighten($green, 20%);
					border: 1px solid $green;
					color: $white;
				}
			}	
			
			/* sub-menus! */
			ul.sub-menu,
			ul.children {
				margin: -11px 0 0 0;
				padding-top: 11px;
				border: 1px solid $green;
				background: lighten($green, 30%);
				border-top: 0;
				position: relative;
				display: none;
				z-index: 8999;
	
				li {
					padding: 3px;
					margin: 10px;
				
					a {
			
						&:hover, &:focus {
							background: lighten($green, 10%);
						}
		
					}
				}
	
			}
	
			/* showing sub-menus */
			&:hover {
				& > a {
					background: lighten($green, 30%);
					border: 1px solid $green;
					color: $white;
				}
				
				ul {
					display: block;
				}	
			}
	
		} /* end .menu ul li */
	
	} /* end .nav */
	
	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {
		background: $white;
		
		a {
			background: lighten($green, 45%);
		}
	}  /* end current highlighters */
	
}

/*********************
SIDEBARS & ASIDES
*********************/

#sidebar-nav {
	margin-top: 2.2em;
}

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {
		padding: 0 10px;
		margin: 2.2em 0;

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}


	/* links widget */
	.widget_links {}
	.widget_links ul {}
	.widget_links ul li {}
	.widget_links ul li a {}

	/* meta widget */
	.widget_meta {}
	.widget_meta ul {}
	.widget_meta ul li {}
	.widget_meta ul li a {}

	/* pages widget */
	.widget_pages {}
	.widget_pages ul {}
	.widget_pages ul li {}
	.widget_pages ul li a {}

	/* recent-posts widget */
	.widget_recent_entries {}
	.widget_recent_entries ul {}
	.widget_recent_entries ul li {}
	.widget_recent_entries ul li a {}

	/* archives widget */
	.widget_archive {}
	.widget_archive ul {}
	.widget_archive ul li {}
	.widget_archive ul li a {}
	.widget_archive select {}
	.widget_archive option {}

	/* tag-cloud widget */
	.widget_links {}
	.widget_links li:after {}
	.widget_links li:before {}
	.widget_tag_cloud {}
	.widget_tag_cloud a {}
	.widget_tag_cloud a:after {}
	.widget_tag_cloud a:before {}

	/* calendar widget */
	.widget_calendar {}
	#calendar_wrap {}
	#calendar_wrap th {}
	#calendar_wrap td {}
	#wp-calendar tr td {}
	#wp-calendar caption {}
	#wp-calendar a {}
	#wp-calendar #today {}
	#wp-calendar #prev {}
	#wp-calendar #next {}
	#wp-calendar #next a {}
	#wp-calendar #prev a {}

	/* category widget */
	.widget_categories {}
	.widget_categories ul {}
	.widget_categories ul li {}
	.widget_categories ul ul.children {}
	.widget_categories a {}
	.widget_categories select{}
	.widget_categories select#cat {}
	.widget_categories select.postform {}
	.widget_categories option {}
	.widget_categories .level-0 {}
	.widget_categories .level-1 {}
	.widget_categories .level-2 {}
	.widget_categories .level-3 {}

	/* recent-comments widget */
	.recentcomments {}
	#recentcomments {}
	#recentcomments li {}
	#recentcomments li a {}
	.widget_recent_comments {}

	/* search widget */
	#searchform {}
	.widget_search {}
	.screen-reader-text {}

	/* text widget */
	.textwidget {}
	.widget_text {}
	.textwidget p {}



/*********************
POSTS & CONTENT STYLES
*********************/

#main {
	margin-top: 2.2em;
	margin-bottom: 4em;
}



/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */

