@import url("../fonts/caecilia/stylesheet.css");
@import url("http://fonts.googleapis.com/css?family=Bree+Serif");
@import url("http://fonts.googleapis.com/css?family=Lato:400,300italic,300,400italic,700,700italic");
/******************************************************************
Site Name: 
Author: 

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't 
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
*/
/* import mixins */
/******************************************************************
Site Name: Cascades Day Spa
Author: sarah semark

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
/* line 23, ../scss/_mixins.scss */
.clearfix {
  zoom: 1;
}
/* line 25, ../scss/_mixins.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 26, ../scss/_mixins.scss */
.clearfix:after {
  clear: both;
}

/*********************
TOOLS
*********************/
/* line 34, ../scss/_mixins.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 41, ../scss/_mixins.scss */
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*********************
TYPOGRAPHY
*********************/
/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
/* line 92, ../scss/_mixins.scss */
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}

/* line 98, ../scss/_mixins.scss */
.text-left {
  text-align: left;
}

/* line 99, ../scss/_mixins.scss */
.text-center {
  text-align: center;
}

/* line 100, ../scss/_mixins.scss */
.text-right {
  text-align: right;
}

/* line 104, ../scss/_mixins.scss */
.alert-help, .alert-info, .alert-error, .alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}

/* line 110, ../scss/_mixins.scss */
.alert-help {
  border-color: #e8dc59;
  background: #ebe16f;
}

/* line 116, ../scss/_mixins.scss */
.alert-info {
  border-color: #bfe4f4;
  background: #d5edf8;
}

/* line 122, ../scss/_mixins.scss */
.alert-error {
  border-color: #f8cdce;
  background: #fbe3e4;
}

/* line 128, ../scss/_mixins.scss */
.alert-success {
  border-color: #deeaae;
  background: #e6efc2;
}

/*********************
BROWSER PREFIXES
*********************/
/*********************
SHADOWS
*********************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/*********************
BUTTONS
*********************/
/* line 208, ../scss/_mixins.scss */
.button, .button:visited {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  border: 1px solid #5c6d47;
  border-top-color: #6c7f53;
  border-left-color: #6c7f53;
  padding: 4px 12px;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  border-radius: 4px;
  background-color: #718657;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7e9561), to(#718657));
  background-image: -webkit-linear-gradient(top, #7e9561, #718657);
  background-image: -moz-linear-gradient(top, #7e9561, #718657);
  background-image: -o-linear-gradient(top, #7e9561, #718657);
  background-image: linear-gradient(to bottom, #7e9561, #718657);
}
/* line 227, ../scss/_mixins.scss */
.button:hover, .button:focus, .button:visited:hover, .button:visited:focus {
  color: white;
  border: 1px solid #5c6d47;
  border-top-color: #4a5739;
  border-left-color: #4a5739;
  background-color: #64764d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#718657), to(#64764d));
  background-image: -webkit-linear-gradient(top, #718657, #64764d);
  background-image: -moz-linear-gradient(top, #718657, #64764d);
  background-image: -o-linear-gradient(top, #718657, #64764d);
  background-image: linear-gradient(to bottom, #718657, #64764d);
}
/* line 235, ../scss/_mixins.scss */
.button:active, .button:visited:active {
  background-color: #7e9561;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#718657), to(#7e9561));
  background-image: -webkit-linear-gradient(top, #718657, #7e9561);
  background-image: -moz-linear-gradient(top, #718657, #7e9561);
  background-image: -o-linear-gradient(top, #718657, #7e9561);
  background-image: linear-gradient(to bottom, #718657, #7e9561);
}

/******************************************************************
Site Name:
Author:

Stylesheet: Grid Stylesheet

I've seperated the grid so you can swap it out easily. It's
called at the top the style.scss stylesheet.

There are a ton of grid solutions out there. You should definitely
experiment with your own. Here are some recommendations:

http://gridsetapp.com - Love this site. Responsive Grids made easy.
http://susy.oddbird.net/ - Grids using Compass. Very elegant.
http://gridpak.com/ - Create your own responsive grid.

The grid below is a combination of the 1140 grid and Twitter Boostrap. 
I liked 1140 but Boostrap's grid was way more detailed so I merged them 
together, let's see how this works out. If you want to use 1140, the original 
values are commented out on each line.

******************************************************************/
/* line 24, ../scss/_grid.scss */
.onecol {
  width: 5.801104972%;
}

/* 4.85%;  } /* grid_1  */
/* line 25, ../scss/_grid.scss */
.twocol {
  width: 14.364640883%;
}

/* 13.45%; } /* grid_2  */
/* line 26, ../scss/_grid.scss */
.threecol {
  width: 22.928176794%;
}

/* 22.05%; } /* grid_3  */
/* line 27, ../scss/_grid.scss */
.fourcol {
  width: 31.491712705%;
}

/* 30.75%; } /* grid_4  */
/* line 28, ../scss/_grid.scss */
.fivecol {
  width: 40.055248616%;
}

/* 39.45%; } /* grid_5  */
/* line 29, ../scss/_grid.scss */
.sixcol {
  width: 48.618784527%;
}

/* 48%;    } /* grid_6  */
/* line 30, ../scss/_grid.scss */
.sevencol {
  width: 57.182320438000005%;
}

/* 56.75%; } /* grid_7  */
/* line 31, ../scss/_grid.scss */
.eightcol {
  width: 65.74585634900001%;
}

/* 65.4%;  } /* grid_8  */
/* line 32, ../scss/_grid.scss */
.ninecol {
  width: 74.30939226%;
}

/* 74.05%; } /* grid_9  */
/* line 33, ../scss/_grid.scss */
.tencol {
  width: 82.87292817100001%;
}

/* 82.7%;  } /* grid_10 */
/* line 34, ../scss/_grid.scss */
.elevencol {
  width: 91.436464082%;
}

/* 91.35%; } /* grid_11 */
/* line 35, ../scss/_grid.scss */
.twelvecol {
  width: 99.999999993%;
}

/* 100%;   } /* grid_12 */
/* line 38, ../scss/_grid.scss */
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
  position: relative;
  float: left;
  margin-left: 2.762430939%;
}

/* line 44, ../scss/_grid.scss */
.onepush {
  margin-left: 8.563535911%;
}

/* line 47, ../scss/_grid.scss */
.twopush {
  margin-left: 17.127071822%;
}

/* line 51, ../scss/_grid.scss */
.first {
  margin-left: 0;
}

/* line 55, ../scss/_grid.scss */
.last {
  float: right;
}

/******************************************************************
Site Name: 
Author: 

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/*********************
NAVIGATION STYLES
*********************/
/* .menu is clearfixed inside mixins.scss */
/* line 27, ../scss/_481up.scss */
.menu {
  /* end .menu ul */
}
/* line 28, ../scss/_481up.scss */
.menu ul {
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 29, ../scss/_481up.scss */
.menu ul li {
  /*
  plan your menus and drop-downs wisely.
  */
}
/* line 30, ../scss/_481up.scss */
.menu ul li a {
  /*
  you can use hover styles here even though this size
  has the possibility of being a mobile device.
  */
}

/* end .menu */
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
/* line 75, ../scss/_481up.scss */
.entry-content {
  /* at this larger size, we can start to align images */
}
/* line 79, ../scss/_481up.scss */
.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
/* line 84, ../scss/_481up.scss */
.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
/* line 89, ../scss/_481up.scss */
.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

/* end .entry-content */
/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/* line 20, ../scss/_768up.scss */
body {
  background: url("../images/bg.png");
  background-size: 500px 199px;
}

/* line 25, ../scss/_768up.scss */
h2 {
  margin: 4em 0 2em;
}
/* line 28, ../scss/_768up.scss */
h2:before, h2:after {
  content: "";
  display: inline-block;
  height: 24px;
  position: relative;
  vertical-align: middle;
  width: 202px;
  background: url("../images/header.png");
  background-size: 239px 24px;
  opacity: .25;
}
/* line 40, ../scss/_768up.scss */
h2:before {
  right: 0.5em;
  margin-left: -50%;
  background-position: left center;
}
/* line 46, ../scss/_768up.scss */
h2:after {
  left: 0.5em;
  margin-right: -50%;
  background-position: right center;
}

/* line 53, ../scss/_768up.scss */
.twocol h2, .fourcol h2, .sixcol h2, .eightcol h2, .tencol h2 {
  margin-top: 2em;
}
/* line 56, ../scss/_768up.scss */
.twocol h2:before, .twocol h2:after, .fourcol h2:before, .fourcol h2:after, .sixcol h2:before, .sixcol h2:after, .eightcol h2:before, .eightcol h2:after, .tencol h2:before, .tencol h2:after {
  width: 60px;
}
/* line 59, ../scss/_768up.scss */
.twocol h2:before, .fourcol h2:before, .sixcol h2:before, .eightcol h2:before, .tencol h2:before {
  right: 0.5em;
  margin-left: -25%;
}
/* line 64, ../scss/_768up.scss */
.twocol h2:after, .fourcol h2:after, .sixcol h2:after, .eightcol h2:after, .tencol h2:after {
  left: 0.5em;
  margin-right: -25%;
}

/* line 70, ../scss/_768up.scss */
.eightcol h3 {
  margin-top: 1em;
}

/*********************
LAYOUT & GRID STYLES
*********************/
/* line 78, ../scss/_768up.scss */
.wrap {
  max-width: 1140px;
}

/* line 82, ../scss/_768up.scss */
#inner-header, #inner-content {
  background: white;
  position: relative;
  -webkit-box-shadow: 0px 2px 8px rgba(1, 2, 2, 0.25);
  -ms-box-shadow: 0px 2px 8px rgba(1, 2, 2, 0.25);
  -moz-box-shadow: 0px 2px 8px rgba(1, 2, 2, 0.25);
  -o-box-shadow: 0px 2px 8px rgba(1, 2, 2, 0.25);
  box-shadow: 0px 2px 8px rgba(1, 2, 2, 0.25);
}

/* line 89, ../scss/_768up.scss */
#inner-content::before {
  height: 10px;
  width: 100%;
  background: white;
  content: '';
  top: -10px;
  position: relative;
}

/*********************
HEADER STYLES
*********************/
/* line 103, ../scss/_768up.scss */
#header {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
}
/* line 109, ../scss/_768up.scss */
#header #inner-header {
  padding: 0 50px 15px;
  border: none;
  position: relative;
}
/* line 114, ../scss/_768up.scss */
#header #inner-header #logo {
  display: block;
  margin: -50px 0 -70px 40px;
}
/* line 118, ../scss/_768up.scss */
#header #inner-header #logo a {
  float: left;
  width: 130px;
  height: 157px;
  background: url("../images/logo.png");
  background-size: cover;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/* line 128, ../scss/_768up.scss */
#header #inner-header #menu-top-links {
  display: block;
  border: 0;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .8em;
  float: right;
  margin: 10px 0 5px 0;
}
/* line 138, ../scss/_768up.scss */
#header #inner-header #menu-top-links li {
  display: inline-block;
  margin: 0px 20px 0 0;
}
/* line 142, ../scss/_768up.scss */
#header #inner-header #menu-top-links li:last-of-type {
  margin-right: 0px;
}
/* line 146, ../scss/_768up.scss */
#header #inner-header #menu-top-links li a {
  background: none;
  display: inline;
  border: none;
  height: 16px;
  background: url("../images/top-links.png") 0 0 no-repeat;
  background-size: 19px 128px;
  padding: 0 5px 0 25px;
  text-decoration: none;
}
/* line 156, ../scss/_768up.scss */
#header #inner-header #menu-top-links li a:hover, #header #inner-header #menu-top-links li a:focus {
  background-position: 0px -16px;
}
/* line 161, ../scss/_768up.scss */
#header #inner-header #menu-top-links li:nth-of-type(2) a {
  background-position: 0px -32px;
}
/* line 164, ../scss/_768up.scss */
#header #inner-header #menu-top-links li:nth-of-type(2) a:hover, #header #inner-header #menu-top-links li:nth-of-type(2) a:focus {
  background-position: 0px -48px;
}
/* line 169, ../scss/_768up.scss */
#header #inner-header #menu-top-links li:nth-of-type(3) a {
  background-position: 0px -64px;
}
/* line 172, ../scss/_768up.scss */
#header #inner-header #menu-top-links li:nth-of-type(3) a:hover, #header #inner-header #menu-top-links li:nth-of-type(3) a:focus {
  background-position: 0px -80px;
}
/* line 177, ../scss/_768up.scss */
#header #inner-header #menu-top-links li:nth-of-type(4) a {
  background-position: 0px -96px;
}
/* line 180, ../scss/_768up.scss */
#header #inner-header #menu-top-links li:nth-of-type(4) a:hover, #header #inner-header #menu-top-links li:nth-of-type(4) a:focus {
  background-position: 0px -112px;
}
/* line 187, ../scss/_768up.scss */
#header #inner-header #header-image {
  display: block;
  max-width: 100%;
  border: 10px solid #eaeff1;
  -webkit-box-shadow: 0px 2px 4px rgba(1, 2, 2, 0.25);
  -ms-box-shadow: 0px 2px 4px rgba(1, 2, 2, 0.25);
  -moz-box-shadow: 0px 2px 4px rgba(1, 2, 2, 0.25);
  -o-box-shadow: 0px 2px 4px rgba(1, 2, 2, 0.25);
  box-shadow: 0px 2px 4px rgba(1, 2, 2, 0.25);
}
/* line 195, ../scss/_768up.scss */
#header #inner-header #book {
  display: table;
  height: 167px;
  width: 167px;
  background: url("../images/book-appointment.png") top left;
  background-size: 334px 167px;
  position: absolute;
  right: -40px;
  top: 35%;
  font-size: 1.2em;
  line-height: 1.2em;
  color: white;
  text-decoration: none;
  font-family: "Bree Serif", Cambria, Times New Roman, Times, serif;
  text-align: center;
}
/* line 211, ../scss/_768up.scss */
#header #inner-header #book:after {
  content: "Reserve Your Spot Now";
  padding: 60px 20px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("../images/book-appointment.png") top right;
  background-size: 334px 167px;
  opacity: 0;
  -webkit-transition: opacity 1.5s;
  -ms-transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
  z-index: 1;
}
/* line 226, ../scss/_768up.scss */
#header #inner-header #book:hover:after {
  opacity: 1;
}
/* line 230, ../scss/_768up.scss */
#header #inner-header #book div {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 10px;
  z-index: 40000;
}
/* line 236, ../scss/_768up.scss */
#header #inner-header #book div span {
  display: inline;
  padding: 0;
}
/* line 244, ../scss/_768up.scss */
#header #inner-header #mobile-menu-container {
  display: none;
}

/*********************
NAVIGATION STYLES
*********************/
/* line 257, ../scss/_768up.scss */
#sidebar-nav {
  display: block;
  margin: -18em 0 2em -50px;
  /* end .nav */
  /* highlight current page */
  /* end current highlighters */
}
/* line 261, ../scss/_768up.scss */
#sidebar-nav .nav {
  background: #fbfbfa url("../images/diagonal.png") top center repeat;
  background-size: 300px 199px;
  -webkit-box-shadow: 0px 2px 4px rgba(1, 2, 2, 0.25);
  -ms-box-shadow: 0px 2px 4px rgba(1, 2, 2, 0.25);
  -moz-box-shadow: 0px 2px 4px rgba(1, 2, 2, 0.25);
  -o-box-shadow: 0px 2px 4px rgba(1, 2, 2, 0.25);
  box-shadow: 0px 2px 4px rgba(1, 2, 2, 0.25);
  padding: 3px 3px;
  /* end .menu ul li */
}
/* line 267, ../scss/_768up.scss */
#sidebar-nav .nav li {
  background: #fbfbfa;
  margin: 10px;
  /* sub-menus! */
  /* showing sub-menus */
}
/* line 271, ../scss/_768up.scss */
#sidebar-nav .nav li:hover, #sidebar-nav .nav li:focus {
  background-color: white;
}
/* line 276, ../scss/_768up.scss */
#sidebar-nav .nav li a:hover, #sidebar-nav .nav li a:focus {
  background-color: #b0bf9d;
  border: 1px solid #7e9561;
  color: white;
}
/* line 285, ../scss/_768up.scss */
#sidebar-nav .nav li ul.sub-menu,
#sidebar-nav .nav li ul.children {
  margin: -11px 0 0 0;
  padding-top: 11px;
  border: 1px solid #7e9561;
  background: #c9d3bc;
  border-top: 0;
  position: relative;
  display: none;
  z-index: 8999;
}
/* line 295, ../scss/_768up.scss */
#sidebar-nav .nav li ul.sub-menu li,
#sidebar-nav .nav li ul.children li {
  padding: 3px;
  margin: 10px;
}
/* line 301, ../scss/_768up.scss */
#sidebar-nav .nav li ul.sub-menu li a:hover, #sidebar-nav .nav li ul.sub-menu li a:focus,
#sidebar-nav .nav li ul.children li a:hover,
#sidebar-nav .nav li ul.children li a:focus {
  background: #97ab7e;
}
/* line 312, ../scss/_768up.scss */
#sidebar-nav .nav li:hover > a {
  background: #c9d3bc;
  border: 1px solid #7e9561;
  color: white;
}
/* line 318, ../scss/_768up.scss */
#sidebar-nav .nav li:hover ul {
  display: block;
}
/* line 330, ../scss/_768up.scss */
#sidebar-nav li.current-menu-item,
#sidebar-nav li.current_page_item,
#sidebar-nav li.current-page-ancestor {
  background: white;
}
/* line 333, ../scss/_768up.scss */
#sidebar-nav li.current-menu-item a,
#sidebar-nav li.current_page_item a,
#sidebar-nav li.current-page-ancestor a {
  background: #eef1ea;
}
/* line 337, ../scss/_768up.scss */
#sidebar-nav li.current-menu-item ul.sub-menu,
#sidebar-nav li.current_page_item ul.sub-menu,
#sidebar-nav li.current-page-ancestor ul.sub-menu {
  background: #fbfbfa;
  display: block;
}

/*********************
SIDEBARS & ASIDES
*********************/
/* line 349, ../scss/_768up.scss */
.widgettitle {
  border-bottom: 2px solid #444;
  margin-bottom: 0.75em;
}

/* line 354, ../scss/_768up.scss */
.widget {
  padding: 0 10px;
  margin: 2.2em 0;
}
/* line 359, ../scss/_768up.scss */
.widget ul li {
  margin-bottom: 0.75em;
  /* deep nesting */
}
/* line 367, ../scss/_768up.scss */
.widget ul li ul {
  margin-top: 0.75em;
  padding-left: 1em;
}

/* links widget */
/* meta widget */
/* pages widget */
/* recent-posts widget */
/* archives widget */
/* tag-cloud widget */
/* calendar widget */
/* category widget */
/* recent-comments widget */
/* search widget */
/* text widget */
/*********************
POSTS & CONTENT STYLES
*********************/
/* line 469, ../scss/_768up.scss */
#main {
  margin-top: 2.2em;
  margin-bottom: 4em;
}

/******************************************************************
FORM STYLES
******************************************************************/
/* line 481, ../scss/_768up.scss */
form div {
  padding-top: 20px;
}
/* line 485, ../scss/_768up.scss */
form label {
  width: 20%;
  padding-top: 10px;
  float: left;
  display: block;
  text-align: right;
}
/* line 493, ../scss/_768up.scss */
form .wpcf7-list-item {
  margin-left: 5%;
  float: left;
  width: auto;
}
/* line 500, ../scss/_768up.scss */
form input[type="checkbox"] + label, form label span {
  float: none;
  display: inline-block;
}
/* line 509, ../scss/_768up.scss */
form input[type=text],
form input[type=email],
form input[type=url],
form input[type=tel],
form textarea {
  margin-left: 5%;
  float: left;
  width: 75%;
}
/* line 515, ../scss/_768up.scss */
form textarea {
  clear: none;
}

/*********************
FOOTER STYLES
*********************/
/* line 529, ../scss/_768up.scss */
.footer {
  font-size: .85em;
}
/* line 533, ../scss/_768up.scss */
.footer .copyright {
  border-top: none;
  padding: 0;
  margin-top: 1em;
}
/* line 538, ../scss/_768up.scss */
.footer .copyright span {
  display: inline;
}

/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
/* 
you can call the larger styles if you want, but there's really no need 
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
